/* my responsive class */
/* .section{
  width:80;
  margin:auto;
}

.slide-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.slide-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.slide-3 {
  flex: 0 0 auto;
  width: 25%;
}

.slide-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.slide-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.slide-6 {
  flex: 0 0 auto;
  width: 50%;
}

.slide-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.slide-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.slide-9 {
  flex: 0 0 auto;
  width: 75%;
}

.slide-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.slide-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.slide-12 {
  flex: 0 0 auto;
  width: 100%;
}

.slider-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.slider-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

/* my responsive class */


/* * {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    padding-top: 19px;

    width: 85%;
    margin: auto;
     border-bottom: 1px solid #217BF4;
    padding-bottom: 10px;
    
}

.topnav a {
  float: left;
  display: block;
  color:rgba(101, 100, 100, 1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  
  color: black;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
    padding: 18px 31px;
    margin-top: 8px;
    font-size: 17px;
    width: 123px;
    height: 32px;
    border: 1px solid rgba(229, 229, 229, 1);
}

.topnav .search-container button {
  float: right;
  padding: 6px;
 
  margin-left: 39px;
  margin-right: 16px;
   font-size: 17px;
  border: none;
  cursor: pointer;


  width: 123px;
  height: 50px;
  border-radius: 14px;
  background-color: rgba(33, 123, 244, 1);
  color: white;
}



@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
   .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
   
    width: 100px;
    margin: 0;
    padding: 14px;
  } 
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.img{
    float: left;
    padding-right: 98px;
    margin-top: 8px;

}
#serch{
  top: 38px;
  POSITION: ABSOLUTE;
  right: 381px;
  color: rgba(43, 43, 57, 1);

}  */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

 body{
  /* background-color: rgb(192 214 240 / 30%); */
  background-color:white;


 }
 /* start nav bar  */
  .navAnchorColor{
    color:yellow;
    transition: 0.1s;
      }  
       
nav{
  
    position: fixed;
    width: 100%;
    background: #fff;
    overflow: hidden;
    top: 0;
    height: 13vh;
    z-index:99999;
    
   }
.click{
  padding: 10px 15px;
  background-color: #2a81ea;
  color: #ffff;
  border-radius: 23px;
  font-weight: bold;
  margin-right: 28px;
  
  cursor: pointer;
}
.click:hover{
color:black;
}
label.logo{
  font-size: 35px;
  font-weight: bold;
  color:#50658e;
  padding-left: 100px;
  line-height: 80px;


}
ul{
  float: right;
    padding-right: 80px;

 }

 #serch{
  position: relative;
    right: 119px;
    top: 1px;
 }
nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a{
  text-decoration: none;
  color: #50658e;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
 
  font-weight:bold;
}
nav #icon {
  color: gray;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}
  input[type=text] {
    padding: 18px 31px;
    margin-top: 8px;
    font-size: 17px;
    width: 123px;
    height: 32px;
    border: 1px solid rgba(229, 229, 229, 1);
}
@media (max-width: 1048){
  label.logo{
    font-size: 32px;
    padding-left: 60px;
  }
  nav>ul {
    margin-right: 20px;

  }
  nav a{
    font-size: 17px;
  }
}
@media (max-width: 1200px){
  nav #icon {
    display: block;
  }
  nav ul{
    position: fixed;
        width: 100%;
        margin-top: 61px;
    height: 100vh;
    background: #ffff;
     left: -101%;
    text-align: center;
    transition: all .5s;
    font-weight: bold;
    border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
     background: #fff;
    overflow: hidden;
    top: 0;
  }
  
  label.logo{
    display:none;
  }
  .chang{
    background:#3498db;
  }
  
nav li {
  display: block;
  margin:  30px 0 ;
  line-height: 30px;
}
nav a{
  font-size: 20px;

}
a:hover{
  border: 1px solid black;
  color: black;
}
nav ul.show{
 left:0;
 top:0;
}




}


@media (max-width: 1200px){

input[type=text] {
  
  width: 300px;
}
.click {
    padding: 11px 52px;
}
nav #icon {
 margin-right: 120px;
}
}

/* end nav bar */
 


/* start head seaction  */
.container{
    width: 86%;
    display: flex;
    align-items: center;

    margin: auto;
    
}
.header{
 
    width: 100%; 
    margin-top: 91px;


}
.sectio1{
    background-image: url(image/base.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.content{
    padding-left: 28px;
}
.text1{
    height: 36px;
    width: 177px;
    border-radius: 8px;
    background-color: rgb(33 123 244 / 7%);
    border: none;
    color: rgba(33, 123, 244, 1);
}
.images{
margin-top: 10px;

}
.img1{
        width: 585.52px;

}
.content>h1{
    font-size: 56px;
}
.content>p{
    font-size: 18px;
    color:  rgba(101, 100, 100, 1);
    
    ;
}

.btns{

    display: flex;
 }


.invite{
    width: 162px;
    height: 62px;
    border-radius: 14px;
    background:linear-gradient(#FFFFFF,#D4E7FE);

    margin-left: 60px;
    opacity: 0.7;
    border:1px solid rgba(33, 123, 244, 1);
}
.text-btn{
     font-size: 14px;
    color: rgba(33, 123, 244, 1);
    text-decoration: none;
    opacity: 97%;
 }
 .more{
    font-size: 14px;
width: 162px;
height: 62px;
border-radius: 14px;
background-color:rgba(33, 123, 244, 1);
color: white;
border: none;
 }






 @media screen and (max-width: 800px) 
 
{


  
  .sectio1 {
    width:340px;
    margin: auto;

}
.content{
  padding-left:4px;
}
.container{
  margin:0;
}
.text1{
  width: 300px;

}

.img {
  float: unset;

  width: 150px;
}
.search{
  width: 96px;

}
.topnav a {
    color: rgba(101, 100, 100, 1);
     text-decoration: none;
    font-size: 10px;
}
   .content>h1 {
    font-size: 10px;
    width: 300px;
    padding-top: 10px;
    text-align:center;
   }
   .content>p {
    width: 300px;
    font-size: 10px;
    color: rgba(101, 100, 100, 1);
    text-align:center;
}
    .container {
    display: block;
    align-items: center;
}
.more {
   font-size: 10px;
    background-color: rgba(33, 123, 244, 1);
    color: white;
    width: 300px;
    height: 30px;
    border: none;
}
.img1 {
   
    width: 300px;

}
.topnav a{
  float:none;
}

.topnav input[type=text] {

margin-left:75px;
}

.topnav .search-container button {
  
  float:none;
  margin-left:70px;
  margin-top:12px;

}
.invite {
    width: 300px;
    height: 30px;
    border-radius: 14px;
    background: linear-gradient(#FFFFFF,#D4E7FE);
 margin:0;
    opacity: 0.7;
    border: 1px solid rgba(33, 123, 244, 1);
}


.topnav {
 
    width: 300px;
 
 
  } 
  .btns {
    display: block;
    width: 160px;
}

  
}

    /* end head seaction1  */



    /* start section 2  */
    .section2{   
         width: 95%;
        margin: auto;
        display: flex;
        padding-top: 54px;
    }

    .sectio2-images{
        margin-left: 77px;

    }


    .section2-contetn>p{
        font-size:18px;
        color:rgba(33, 123, 244, 1);

    }
    .section2-contetn>h1{
        font-size:36px;
 
    }
    .section2-contetn>h3{
        font-size:16px;
        color: rgba(101, 100, 100, 1);
        width: 400px;
 
    }



   .photo1{
      width: 281px;
      height: 422px;
      border-radius: 20px;

    }
   .photo2{
      width: 267px;
      height: 252px;
      border-radius: 25px;

    }
   .photo3{
      width: 267px;
      height: 252px;
      border-radius: 25px;
      margin-top: 20px;

    }


    /* cards */
    .cards{
      width: 85%;
      padding-bottom: 35px;
      margin: auto;
      display: flex;
      padding-top: 94px;
 
    }
    .card1{
      width: 336px;
      height: 362px;
    box-shadow: 0px 26px 49px 0px #92A5B824;
      border: 1px solid #B9B9B909;
      border-radius: 14px;
      margin-right: 26px;

      padding-left: 22px;

    }



    .card1>p{
      font-size: 20px;
      padding: 12px 0;
      margin-top:36px;
      
    }
    .card1>span{
font-size: 16px;
    }
    .card1>h3{
 
font-size: 16px;
padding: 13px 0;
line-height: 28px;
color: #8C8C8C;
    }
    
    .member-photo{
width: 25px;
height:  25px;
    }
.card-link{
  color: #217BF4;
  text-decoration: none; 
}


.card-member{
position: relative;  
  bottom: 6px;


}

.member-number{
  color: #217BF4;
  position: absolute;
  top: 4px;
}
.members{
  position: absolute;
  bottom: 7px;
  left: 118px;
}

.card2{
  width: 336px;
      height: 362px;
    box-shadow: 0px 26px 49px 0px #92A5B824;
      border: 1px solid #FFFFFF;
      border-radius: 14px;
      padding-left: 28px;
      margin-left: 26px;

}
.card2-name{
  font-size: 20px;
 line-height: 20px;
 padding-top:10px ;
}
.card2-title{
  font-size: 16;
  color: #5D5B70;
  line-height: 18px;
  padding:10px 0 ;


}

.card2-title .year{
  color:#217BF4 ;
  padding:10px 0 ;

}

 
.card2-desc{
  font-size: 16px;
  line-height: 26px;
  padding:10px 0 ;

}
.card2-link{
  font-size: 16px;
  color: #4A4A56;
   line-height: 16px;
   text-decoration: none;
   padding:10px 0 ;
   margin-top: 41px;

   cursor:pointer;

}



.card3{
  width: 336px;
  height: 362px;
box-shadow: 0px 26px 49px 0px #92A5B824;
  border: 1px solid #B9B9B909;
  border-radius: 14px;
  margin-left: 26px;

  padding-left: 22px;

}
.card3-name{
  color: #217BF4;
  font-size: 18px;
}
.card3-title{
 font-size:36px ;
 color:#0A093D ;
 line-height: 48px;
 width: 381px;
 
 
}
.card3-desc{
 font-size: 16px;
 color:#656464 ;
 line-height: 28px;

 
}

.card3-btn{
  background-color: #217BF4;
  text-align: Center;
  font-size: 14px;
  color: white;
  width: 192px;
  height: 58px;
  border-radius: 14px;
  box-shadow: 0px 10px 22px -6px #217BF442;
border: none;
}
    /* cards */




    @media screen and (max-width: 800px) 
 
    {
    .section2 {
      margin: auto;
      width: 400px;
      display: block;
      padding-top: 54px;
  }
  .sectio2-images {
     margin-left: 0;
}

.cards {
  width: 400px;
  padding-bottom: 35px;
  margin: auto;
  display: block;
  padding-top: 94px;
}
.card3-title {
  font-size: 20px;
  width: 300px;
}
.card2 {
     margin-top: 38px;
    margin-left: 0;
    PADDING-TOP: 38PX;

  }
  .card3 {
 
        margin-top: 38px;
    margin-left: 0;
    PADDING-TOP: 38PX;

}
}

    /* end section 2  */












    /* start section 3  */
    .section3{
      background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);

      width: 100%;
    }
    .section3-content{
      text-align:center;
    }
.section3-name{
font-size: 18px;
line-height: 18px;
color: #217BF4;

}

.section3-title{
font-size:36px ;
line-height: 36px;
color:#0A093D ;
}
.section3-desc{
font-size: 16px;
line-height: 28px;
 
 color: #656464;
}
.section3-row1{
  display: flex;
  width: 92%;
  margin: auto;
    justify-content: space-evenly;
}
 .section3-card1{
  width:522px;
  height: 182px;
  box-shadow: 14px 22px 52px -12px #7F7F7F21;
  background-color: #ffffff;
     padding-left: 30px;
     margin-top: 20px;

  

 }
 .section3-card1>h1{
  font-size: 24px;
  line-height: 26px;
        padding-left: 77px;

 }
 .section3-card1>p{
  font-size: 16px;
  line-height: 26px;
      left: 17%;
    position: relative;

 }
 .icon{
  background: linear-gradient(154.49deg, #5CA1FE 6.61%, #217BF4 89.72%);
  position: relative;
  left: -2%;
  
    bottom: 33%;
    width: 68px;


 }
 .section3-card2{
  width:522px;
  padding-left: 30px;
  margin-top: 20px;


  height: 182px;
  box-shadow: 14px 22px 52px -12px #7F7F7F21;
  background-color: #ffffff;

 }
 .section3-card2>h1{
  font-size: 24px;
  line-height: 26px;
  padding-left: 77px;


 }
 .section3-card2>p{
  font-size: 16px;
     line-height: 26px;
     left: 17%;
     position: relative;
  }
   

 .section3-card3>p{
 font-size: 16px;
    line-height: 26px;
    left: 17%;
    position: relative;
 }
  


 
 @media screen and (max-width: 800px) 

 {
 
 .section3-row1 {

   margin: auto;
   display: block;
   width: 500px;
}

 }
    /* end section 3  */

    /* start section 4 */
    .section4{
    width: 85%;
    margin: auto;
    }
.section4-contetn  {
      padding-top: 50px;
      text-align: center;
  
    }
    .section4-name{
      color: rgba(33, 123, 244, 1);
      font-size: 18px;
      line-height:18px ;
      
    }
    .section4-title{
      font-size: 36px;
      line-height:36px ;
       
    }
    .section4-desc{
      font-size:16px ;
      line-height:28px ;
      color:rgba(101, 100, 100, 1) ;
    }
    .section4-navlist{
      background-color: rgb(33 123 244 / 7%); 
      width: 474px;
height: 72px;
border-radius: 14px;
margin-left: 25vw;
}
    .section4-navlist>ul{
      display: flex;
    justify-content: center;
    padding: 28px 0;
    position: relative;

    list-style: none;
     }
    .section4-navlist ul a{
      /* margin: 0px 21px;
      position: absolute; */
      text-decoration: none;
      position: absolute;
 
      right: 245px;

      color: black;
     }

     .section4-active{
      background-color: rgba(33, 123, 244, 1);
      color: #ffffff;
      box-shadow: 0px 7px 22px -6px rgb(0 72 168 / 34%);
      border-radius: 9px;
      padding: 18px 74px;
      border: none;
      position: absolute;
      right: 3px;
      top:12px;
 
     }

     .section4-navlist ul li{
     
       text-decoration: none;
      position: absolute;
   
      right: 364px;

  
     }
     .section4-card1{
      text-align: center;
position: relative;
      background: rgba(255, 255, 255, 1);
 border: 1px solid rgba(101, 100, 100, 1);
width: 270px;
height: 316px;
border-radius: 14px;
 box-shadow: 0px 34px 68px 0px rgba(116, 115, 128, 0.1);



     }
     .section4-card1 img{
    margin-top: 16px;
    width: 132px;
    left: 25%;
    position: absolute;
    height: 142px;
    border-radius: 114px;
    box-shadow: 0px -10px 50px 0px rgb(17 50 101 / 8%);
    }

.team-data{
  position: absolute;
  top: 67%;
  left: 51px;
  text-align: center;
}

.team-data h1{
  font-size:24px;
  line-height: 26px ;
}
.section4-ourteam{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}


@media screen and (max-width: 800px) 
 
{


  
  .section4-ourteam {
    display: block;
    padding-top: 40px;
}
.section4 {
  width: 600px;
  margin: auto;
}
}
/* end section 4 */







    /* start section 5 */



.section5{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 82px;
  background: rgba(229, 240, 253, 1);
}

    .section5-name{
color: rgba(33, 123, 244, 1);
line-height: 18px;
font-size: 18px;
    }
    .section5-title{
      color: rgba(10, 9, 61, 1);
      line-height: 52px;
      font-size: 36px;
    }

    .section5-desc{
      color: rgba(101, 100, 100, 1);
      line-height: 26px;
      font-size: 16px;
      width: 341px;
    }

.section5-image{
  align-items: center;
  display: flex;
}

.section5-mainphoto{
  width: 500px;
  height: 400px;

}

@media screen and (max-width: 800px) 
 
{

.section5 {
  display: block;
     width: 600px;

}



}

    /* end section 5 */






  /* start section 6  */
  .section6-contetn{
    text-align: center;
    padding-top: 40px;
  }
  .section6-item h1{
    font-family: Inter;
font-size: 36px;
font-weight: 700;
line-height: 36px;

color: rgba(10, 9, 61, 1);
}

.section6-contetn p{
  color: rgba(33, 123, 244, 1);
  font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 18px;
 
}


.section6-continer{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  

}
  .section6-img{
 
    height: 300px;
    width: 300px;
    border-radius: 30px;
border-radius: 30px;




  }

 

 .section6-item p{
 font-size: 16px;
font-weight: 400;
line-height: 16px;
 text-align: center;
 text-decoration: none;
 

 }
 .links{
  text-decoration: none;
  color: rgba(101, 100, 100, 1);

 }
.seaction6-link2{
 font-size: 16px;
font-weight: 400;
line-height: 16px;
 text-align: center;
 text-decoration: none;
 color: rgba(33, 123, 244, 1);
 

 }


 @media screen and (max-width: 800px) 
 
 {
 
 .section6-continer {
  width: 300px;
  margin: auto;
  display: block;
}
 .section6-item p {
  
    padding-top: 20px;
    line-height: 28px;
   }
 }
  /* end section 6  */






  /* fotter  */

  footer{
    background: rgba(43, 43, 57, 1);
width: 100%;
margin-top: 21px;
padding-top: 39px;
  }

  .side h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
 color: rgba(255, 255, 255, 1);
 ;
    
     
  }

  .side p{
 font-size: 16px;
font-weight: 400;
line-height: 46px;
color: rgba(231, 231, 231, 1);
 

  }
  .footer-container{
        display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }








    .side1 h1{
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
 color: rgba(255, 255, 255, 1);
 ;
    
     
  }

  .side1 p{
 font-size: 16px;
font-weight: 400;
line-height: 46px;
color: rgba(231, 231, 231, 1);
 

  }




  .side1 input{
    height: 49px;
width: 339px;
left: 966px;
top: 244px;
border-radius: 12px;
color: rgba(255, 255, 255, 0.85);
border: 1px solid rgba(255, 255, 255, 0.85);

background-color: rgba(43, 43, 57, 1);
  }




.side1{
  position: relative;
}
  .side1 button {
    height: 48px;

width: 126px;
    position: absolute;
    right: 106px;
    top: 74px;
    border-radius: 12px;
background-color: rgba(255, 255, 255, 1);
color: rgba(43, 43, 57, 1);


 font-size: 16px;
font-weight: 500;
line-height: 16px;
 text-align: center;



  }

  .endfooter{
    height: 96px;
    width: 100%;
 background: rgba(32, 32, 45, 1);


  }

  .footer-deta{
    width:85%;
    display:flex;
    justify-content:space-between;
       margin:auto;
       padding: 15px 0;
  }

  .footer-text{
    color:rgba(246, 246, 246, 1);
  }

  @media screen and (max-width: 800px) 
 
  {
  
  footer {
     width: 600px;
}
.footer-container {
  display: block;
  justify-content: space-between;
  
  text-align: center;
}
  }



















  /* responsive 
   */

/* 
   @media   screen  (min-width: 800px) and (max=width: 1000px)
 
{

  
} */




@media screen and (max-width: 1000px) and (min-width: 800px){

  .topnav a.active {
    text-align: center;
margin-right: 30vw;
}
.topnav a {
float: none;
display:block;
}
.topnav input[type=text] {
  
  margin-right: 35vw;
}
.topnav .search-container button {
  float: none;
margin-left:0;
}

#serch{
  top: 230px;
  POSITION: ABSOLUTE;
 
  left: 36%;
}
.header {
  width: 600px;
  
}
.content {
   width: 300px;
}
.img1 {
  width: 300px;
}
}




@media screen and (max-width: 1000px) and (min-width: 800px){

.section2{
 
  display:block;
}
.sectio2-images {
  margin-left: 0;
}





}



@media screen and (max-width: 1000px) and (min-width: 800px){


.cards{
  display:block
}
.card3-title {
 
  width: 200px;
}
.card3 {
    
    height: 456px;
    width: 402PX;
}
 }





@media screen and (max-width: 1000px) and (min-width: 800px){


  .section3-row1 {
    display: block;
  }

   }
   


@media screen and (max-width: 1000px) and (min-width: 800px){


  .section4-ourteam {
    display: block;
  }
   }

@media screen and (max-width: 1000px) and (min-width: 800px){


  .section5-content {
    width:200px;
  }
   }




   
@media screen and (max-width: 1000px) and (min-width: 800px){


  .section5-image {
 
    width: 300px;
}
.section5-mainphoto {
  width: 300px;
}
   }
@media screen and (max-width: 1000px) and (min-width: 800px){


  .section6-continer {
    width: 300px;
    display:block;
  }
  .section6-item p {
  
    padding-top: 20px;
    line-height: 28px;
   }
  }
@media screen and (max-width: 1000px) and (min-width: 800px){


  .footer-container {
    display: block;
  }
  .endfooter {
    
    margin-top: 13px;

  }
   }






   @media screen and (max-width: 1300px) and (min-width: 1000px){

   .topnav {
   
    width: 93%;
  }

  .sectio1 {
  
    width: 1100px;
}
}


   @media screen and (max-width: 2000px) and (min-width: 1000px){
 
 
 
    .section6-continer {
      width: 100%;
   }
    .section6-item p {
  
    padding-top: 20px;
    line-height: 28px;
   }
 
 
  }
   @media screen and (max-width: 1300px) and (min-width: 1000px){



   footer {
    background: rgba(43, 43, 57, 1);
 
        width: 1198px;
              


   }

.section5 {
  width: 1198px;
}
.section4 {
    
    width: 1198px;
  }


.section3 {
 
    width:    1172PX;

}







.section6-item p {
    font-size: 23px;
  
    line-height: 32px;
   }
  }